div#cookiesbanner_block_home p {
  color: black;
  max-width: 70%;
  padding-top:1em;
  margin-bottom:1.25em;
  text-align: center;
  font-weight: 600;
}

div#cookiesbanner_block_home {
  position: fixed;
  bottom: 0;
  min-width: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: rgba(126, 122, 128, 0.9);
  z-index: 9999;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: all ease-in-out 50ms;
}

div#cookiesbanner_block_home .block_container_flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1em;
  max-height: 3vh;
}

#cookiesbanner_accept_btn{
  margin-bottom: .625em;
  position: absolute;
  right: 2em;
  top: .7em;
  border-radius: 5px;
  background-color: rgba(170, 186, 167, 1);
  border: .1em;
  padding:.5em 1em;
  font-size: small;
  transition: ease-in-out 50ms;
  margin-top: .625em;
}

div#cookiesbanner_block_home .block_container_flex #cookiesbanner_accept_btn:hover {
  cursor: pointer;
  color: rgba(226, 234, 224, 1);
  background-color: rgba(91, 164, 79, 1);
  border: solid .5px black;
  font-weight: 600;
}

@media ((max-width:1499px) and (min-width: 649)) {
  div#cookiesbanner_block_home .block_container_flex #cookiesbanner_accept_btn {
    margin-top:.625em;
  }
}

@media (max-width: 1499px) {
  div#cookiesbanner_block_home .block_container_flex {
    max-height: 5vh;
  }
  
  div#cookiesbanner_block_home p {
    font-size: .8em;
    padding-top: 2em;
    padding-bottom: 0.5em;
    font-weight: 400;
  }

  div#cookiesbanner_block_home .block_container_flex #cookiesbanner_accept_btn {
    top: 1em;
  }
}

@media (max-width: 649px) {
  div#cookiesbanner_block_home .block_container_flex {
    max-height: 8vh;
  }
  div#cookiesbanner_block_home .block_container_flex #cookiesbanner_accept_btn {
    max-width: auto;
    font-size: .5em;
    position: absolute;
    top: 75%;
    left: 0;
    margin: 0;
    bottom: 0;
    min-width: 100vw;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-weight: 600;
    padding-bottom: .5em;
    margin-top: 0;
  }
  div#cookiesbanner_block_home p {
    font-size: .8em;
    padding-top: .8em;
  }

  @media (max-width: 399px) {
    #cookiesbanner_block_home {
      min-height: 14vh;
    }
  } 
}