div#cookiesbanner_block_home p {
  color: black;
}

div#cookiesbanner_block_home {
  position: fixed;
  top: 93vh;
  min-width: 100vw;
  background-color: grey;
  max-height: 7vh;
  z-index: 9999;
  padding: .5em 2em;
}
